/app/sessions/
/web/css/*
/web/js/*
/web/.htaccess
/web/uploads/*
/web/bundles/
/web/app_dev.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/config_local.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/web_service/app/sessions/
/web_service/web/css/*
/web_service/web/js/*
/web_service/web/.htaccess
/web_service/web/uploads/*
/web_service/web/bundles/
/web_service/web/app_dev.php
/web_service/app/bootstrap.php.cache
/web_service/app/cache/*
/web_service/app/config/parameters.yml
/web_service/app/config/config_local.yml
/web_service/app/logs/*
/web_service/build/
/web_service/vendor/
/web_service/bin/
/web_service/composer.phar
/web_service/composer.lock
*~
/web_service/nbproject/private/