/app/sessions/
/web/css/*
/web/js/*
/web/.htaccess
/web/uploads/*
/web/bundles/
/web/app_dev.php
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/config_local.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
*~
/nbproject/private/