<div>
	<!-- {{article}} -->
<!-- 	{{article.name}}<br>
	{{article.ref}}<br>
	{{article.price}}<br>
	<p>{{article.long_desc}}</p><br> -->

            ID: <strong>{{article.id}}</strong><br>
            Name: <strong>{{article.name}}</strong><br>
        	REF: <strong>{{article.reference}}</strong><br>
        	Price: <strong>{{article.price}}</strong><br>
            Description: <em>{{article.description}}</em><br>
            Category: <em>{{article.category}}</em><br>
            Stock: <em>{{article.stock}}</em><br>
            Maker: <em>{{article.maker}}</em><br>
            Supplier: <em>{{article.supplier}}</em><br>
        	<img class="img_item" src="{{article.image}}" alt="{{article.img}}"><br>
</div>