<!DOCTYPE html>
<html>
<head>
    <meta name="fragment" content="!" />
    <title>.: T H E S E U S :.</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/theseus.css" rel="stylesheet">
    <link href="assets/ngDialog.css" rel="stylesheet">
    <link href="assets/ngDialog-theme.css" rel="stylesheet">
    <!--<script src="assets/angular-seo/angular-seo-server.js"></script>-->

</head>
<body ng-app="theseus">


<div >
    <div ng-include src="'templates/navbar.html'"></div>
    <div>
        <div>
            <ul>
                <li ng-click="ToggleAdminMenus('displayAdmin')" ng-show="displayAdminMenu" 
			class="admin_top_menu">Home</li>
                <li ng-click="ToggleAdminMenus('displayUsers')" ng-show="displayUsersMenu" 
			class="admin_top_menu">Users</li>
                <li ng-click="ToggleAdminMenus('displayCustomers')" ng-show="displayCustomersMenu"  
			class="admin_top_menu">Customers</li>
                <li ng-click="ToggleAdminMenus('displayProducts')" ng-show="displayProductsMenu" 
			class="admin_top_menu">Products</li>
                <li ng-click="ToggleAdminMenus('displayEvents')" ng-show="displayEventsMenu" 
			class="admin_top_menu">Events</li>
                <li ng-click="ToggleAdminMenus('displayCategories')" ng-show="displayProductsMenu" 
			class="admin_top_menu">Categories</li>
                <li ng-click="ToggleAdminMenus('displayOrders')" ng-show="displayOrdersMenu" 
			class="admin_top_menu">Orders</li>
                <li ng-click="ToggleAdminMenus('displaySuppliers')" ng-show="displaySuppliersMenu" 
			class="admin_top_menu">Suppliers</li>
                <li ng-click="ToggleAdminMenus('displayMakers')" ng-show="displayMakersMenu" 
			class="admin_top_menu">Makers</li>
            </ul>
        </div>
        <div ng-show="displayAdmin" ng-include src="'templates/admin.html'"></div>
        <div ng-show="displayUsers" ng-include src="'templates/admin_users.html'"></div>
        <div ng-show="displayCustomers" ng-include src="'templates/admin_customers.html'"></div>
        <div ng-show="displayProducts" ng-include src="'templates/admin_products.html'"></div>
        <div ng-show="displayEvents" ng-include src="'templates/admin_events.html'"></div>
        <div ng-show="displayCategories" ng-include src="'templates/admin_categories.html'"></div>
        <div ng-show="displayOrders" ng-include src="'templates/admin_orders.html'"></div>
        <div ng-show="displaySuppliers" ng-include src="'templates/admin_suppliers.html'"></div>
        <div ng-show="displayMakers" ng-include src="'templates/admin_makers.html'"></div>
    </div>
    <div ng-controller="Articles">
        <div ng-show="hideHomePage" ng-include src="'templates/articles_category.html'">Articles by category pages</div>
        <div ng-hide="hideHomePage" ng-include src="'templates/jumbotron.html'"></div>
        <div ng-hide="hideHomePage" ng-include src="'templates/best_sales.html'"></div>
        <div ng-hide="hideHomePage" ng-include src="'templates/next_events.html'"></div>
    </div>
</div>

<div ng-include src="'templates/footer.html'"></div>

<!-- DECLARE SCRIPT HERE -->
<script src="assets/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/angular.min.js"></script>
<script src="angular-seo/angular-seo.js"></script>
<script src="assets/ngDialog.js"></script>
<script src="assets/app.js"></script>

<!-- END BODY -->
</body>
</html>
