.selected {
    display: none;
}
/*.navbar {
	position: fixed;
}*/

/*body {
  min-height: 2000px;
  padding-top: 100px;
}*/
.article_li {
	display: inline-block;
}
.img_item {
	min-width: 50px;
	min-height: 50px;
	max-width: 100px;
	max-height: 100px;
	border: solid white;
	border-radius: 5px;
}
.big_img_item {
	min-width: 50px;
	min-height: 50px;
	max-width: 200px;
	max-height: 200px;
	border: solid white;
	border-radius: 5px;
}

.admin_top_menu {
	display: inline-block;
}